<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041826471707-u92btd9rev63fn8m4c82n0366kj6eofq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041826471707-u92btd9rev63fn8m4c82n0366kj6eofq</string>
	<key>API_KEY</key>
	<string>AIzaSyCewzz5wxY0QvS1CpWBJuRFhEP9V1VoG0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1041826471707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quetoquenana.ios.PedalPal</string>
	<key>PROJECT_ID</key>
	<string>pedalpalios</string>
	<key>STORAGE_BUCKET</key>
	<string>pedalpalios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041826471707:ios:9b93ef9718f34e24b1fdbe</string>
</dict>
</plist>
